<h1>{{model.name}}</h1>

<p>This fine establishment is staffed by the following fine chefs:</p>
<ul>
{{#each model.chefs as |chef|}}
  <li>{{link-to chef.name 'chefs.chef' chef}}</li>
{{/each}}
</ul>
{{#if model.chefs}}
  {{#if (eq model.chefs.length 1)}}
    <p>Health of food: {{model.maxHealth}}</p>
    <p>{{rating-bar model.averageHealth 200}}</p>
    <p>Fame of chef: {{model.maxFame}}</p>
    <p>{{rating-bar model.averageFame}}</p>
  {{else}}
    <p>Max health of food: {{model.maxHealth}}</p>
    <p>Average health of food: {{round model.averageHealth 1}}</p>
    <p>{{rating-bar model.averageHealth 200}}</p>
    <p>Max fame of chef: {{model.maxFame}}</p>
    <p>Average fame of chefs: {{model.averageFame}}</p>
    <p>{{rating-bar model.averageFame}}</p>
  {{/if}}
{{else}}
  <p>Add chefs to this restaurant to see more stats.</p>
{{/if}}
{{#if model.user}}
  <p>This restaurant is owned by {{model.user.displayName}}.
    {{#if (eq model.user.id session.currentUser.id)}}
      That's you.  <button {{action 'sellRestaurant' model}}>Sell it.</button>
    {{/if}}
  </p>
{{else}}
  <p>This restaurant is unclaimed; <button {{action 'buyRestaurant' model}}>Buy it</button>.</p>
{{/if}}
<hr>
{{#link-to 'restaurants.restaurant.edit' model.id}}<button>Edit</button>{{/link-to}}
