<h1>Chef Tracker</h1>
<p>Is your favorite {{cookName}} cooking right now?</p>
<p>Find out with <strong>Chef Tracker</strong>, the hottest new {{cookName}}-tracking app on the market.</p>
<p>We know some {{cookName}}s are better than others, so we want to tell you who's cooking at our restaurant right now.  Is it your favorite {{cookName}}?  Then maybe you should visit!</p>
<hr>
{{input value=cookName}}
