<h1>Dashboard for {{currentUser.displayName}}</h1>
<p>Email: {{currentUser.email}}</p>
<p>Restaurants:</p>
<ul>
  {{#each currentUser.restaurants as |restaurant|}}
    {{#link-to 'restaurants.restaurant' restaurant}}
      <li>{{restaurant.name}}</li>
    {{/link-to}}
  {{/each}}
</ul>

{{link-to 'Update Email' 'me.update-email'}}
{{link-to 'Update Password' 'me.update-password'}}
<hr>
{{outlet}}
